.botao
{
    background-color: darkcyan;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 16px 0;
}

.botao:hover
{
    background-color: rgba(0, 139, 139, 0.764);
}