.formulario-container {
    display: flex;
    gap: 20px; /** espaço entre os dois forms*/
    flex-wrap: wrap; /** quebrar a linha quando chegar o limite da tela*/
    justify-content: center;
    margin: 80px 50px;

}
.formulario-container .formulario {
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.233);
    border-radius: 20px;
    flex: 1; /** divide a tela em 50% (pq possui dois forms)*/
    padding: 36px 64px;
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 32px;
}