.campo-texto
{
    margin: 24px 0;
}

.campo-texto-fontawesome
{
    position: relative;
}

.campo-texto-input {
    padding-left: 40px !important;
    font-family: serif;
}

.campo-texto-fontawesome-span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: burlywood;
}

.campo-texto label 
{
   display: block;
   margin-bottom: 8px;
   font-size: 24px;
   font-family: serif;
}

input 
{
    outline-color: orange;
}

.campo-texto input 
{
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 10px;
    box-sizing: border-box; /* 100% sem barra de rolagem horizontal*/

}